body{
background-color:lightgray;
max-width: 1000px;
}
h1{
text-align: center;
font-size: 50px;
font-family: comic sans ms;
}
a{
  color: black;
  letter-spacing: 0.1em;
}
a:hover{
  color:darkgray;
}
img{
height:130px;
width:130px;
}

#start{
  height:410px;
  width:473px;
  display:block;
  padding-right: 100px;
  padding-left: 100px;

}
#animals{
  float:right;
}
#food{
  float:left;
}
#main{
    align-self: center;
}
#happycat, #sadcat{
  visibility: hidden;
}
